$white: #ffffff;

$bg: rgba(31, 31, 31);

$black: #000;

$box-color: #00000014;
$box-text-color: #ffffff12;

$nav-color: #ffffff26;

$line-color: rgba(105, 105, 105, 0.15);

$nav-text-color: #fff6;

$paragraph-color: #ffffffbf;
